@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #bc2041;
  --secondary: #564c55;
  --tertiary: #65483d;
  --fourth: #9e8279;
  --fifth: #fdbf6e;
}

body {
  margin: 0;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}

p,
h1,
h2 {
  margin: 10px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
.help-layout nav a.active {
  border: #fdbf6e 2px solid;
}

.active {
  color: #fdbf6e;
}

/* page content */

/* help layout */

/* faq */

/* careers list */

/* careers details */

/* breadcrumbs */

/* labels + inputs */

label {
  @apply absolute left-0 text-black text-xs transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:text-black peer-placeholder-shown:top-[18px] peer-focus:-top-0 peer-focus:text-black peer-focus:text-xs px-3;
}

input {
  @apply h-14 rounded w-full text-black text-sm placeholder-transparent focus:outline-none px-3;
}


